@media (min-width: 0px) {
    .main {
        display: block;
        background-color: white;
      padding: 2vh 0vw 5vh 0vw;
     
        width: 50vw;
        margin: 15vh 5vw 5vh 21vw;
        position: relative;
        padding: auto;
        border-radius: 30px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
        z-index: 9;
    }
    .price {
        position: absolute;
        height: 7vh;
        top: 1vh;
        left: 0;
        width: 13vw;
        color: white;
        font-size: 2vw;
        font-weight: bolder;
        background-color: rgb(126, 26, 168);
        display: flex;
    }
    .price::before {
        content: "";
        position: absolute;
        /* width: 2vw; */
        height: 7vh;
        bottom: -3vh;
        left: -1.4vw;
        background-color: rgb(126, 26, 168);
        border-bottom: 3vh solid white;
        border-right: 1.4vw solid rgb(126, 26, 168);
    }
    .img {
        height: 22vh;
      
        background-size: contain;
        background-repeat: no-repeat;
        
        margin:0vh 0vw 0vh 19.5vw;
    }
    .img2 {
        height: 30vh;
        /* width: vw; */
        background-size: contain;
        background-repeat: no-repeat;
        
        margin: 10vh 0vw 0vh 13vw;
    }
    .rotate {
        position: absolute;
        top: 3vh;
        left: 7vw;
        height: 7vh;
        width: 8vw;
        padding: 0.3vh 0.5vw 0vh 1vw;
        font-size: 2vw;
        display: flex;
        color: white;
        background-color: rgb(53, 10, 100);
        border-radius: 10px 0px 10px 10px;
        transform: rotate(-40deg);
    }
    .lin1 {
        margin: 2vh 0vw 0vh 20vw;
        color: rgb(46, 23, 74);
        font-weight: bolder;
        font-size: 2.5vw;
    }
    .lin2 {
        margin: 1vh 0vw 0vh 20vw;
        color: rgb(166, 166, 166);
        font-weight: bolder;
        font-size: 2vw;
    }
    .lin3 {
        margin: 1vh 0vw 0vh 8vw;
        
        font-size: 1.2vw;
    }
    .lin4 {
        margin: 2vh 0vw 0vh 14vw;
        color: rgb(46, 23, 74);
        font-weight: bolder;
        font-size: 2.5vw;
    }
    .lin5 {
        margin: 1vh 0vw 0vh 18vw;
        color: rgb(166, 166, 166);
        font-weight: bolder;
        font-size: 2vw;
    }
    .lin6 {
        margin: 1vh 0vw 0vh 8vw;
        
        font-size: 1.2vw;
    }
    
    .icon1 {
        margin: 1vh;
        background-color: rgb(54, 7, 100);
        color: white;
        padding: 1vh 0.5vw 1vh 0.5vw;
        border-radius: 8px;
        height: 6vh;
        width: 2vw;
        font-size: 2vw;
        cursor: pointer;
    }
    .icon2 {
        height: 6vh;
        width: 2vw;
        margin: 1vh;
        background-color: rgb(127, 27, 170);
        color: white;
        padding: 1vh 0.5vw 1vh 0.5vw;
        border-radius: 8px;
        font-size: 2vw;
        cursor: pointer;
    }
    .iconholder {
        position: absolute;
        top: 2vh;
        right: 3vw;
        display: flex;
      
    }
    .como {
        height: 100%;
        z-index: 9;
        background-color: white;
    }
    .buy {
       
      
        
       float: left;
    margin: 4vh 0vw 0vh 20vw;
        display: flex;
    }
    .inc {
       
        height: 6vh;
        width: 2vw;
        color: white;
        background-color: rgb(122, 31, 162);
        font-size: 2vw;
        font-weight: bolder;
        border-radius: 50%;
        padding: 0vh 0vw 0vh 0vw;
        border: 0.1vw solid white;
        cursor: pointer;
        margin: 0vh 0vw 0vh 2vw;
    }
    .dec {
      
        height: 6vh;
        width: 2vw;
        color: white;
        background-color: rgb(122, 31, 162);
        font-size: 2vw;
        font-weight: bolder;
        border-radius: 50%;
        padding: 0;
        border: 0.1vw solid white;
        cursor: pointer;
        margin: .3vh 2vw 0vh 0vw;
    }
    .num {
       
        
        color: black;
        
      margin: 0vh 0vw 0vh 0vw;
        font-size: 2vw;
        font-weight: bolder;
        
        padding: 0;
    }
    .btn{
        margin: 3vh 0vw 1vh 16.5vw;
        border-radius: 10px;
        height: 8vh;
        font-size: 2vw;
        background-color: rgb(152,82,183);
        color: white;
        cursor: pointer;
        border: 0;
    }
    .sec1{
        display: block;
    }
    .product {
        width: 100%;
        
        position: relative;
        margin: 40vh 0vw 0vh 0vw;
      display: block;
    }
    .prize {
        width: 100%;
        z-index: 9;
    
        position: relative;
       
    }
}
@media (min-width: 700px) {
    .main {
        height: 0;
        width: 0;
        display: none;
        display: block;
        background-color: white;
      padding: 2vh 0vw 0vh 0vw;
     
        width: 50vw;
        margin: 15vh 5vw 5vh 21vw;
        position: relative;
        padding: auto;
        border-radius: 30px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
        height: 0;
        width: 0;
        display: none;
        height: 0;
        width: 0;
        display: none;
        z-index: 9;
    }
    .price {
        position: absolute;
        height: 7vh;
        top: 1vh;
        left: 0;
        width: 13vw;
        color: white;
        font-size: 2vw;
        font-weight: bolder;
        background-color: rgb(126, 26, 168);
        display: flex;
        height: 0;
        width: 0;
        display: none;
        height: 0;
        width: 0;
        display: none;
    }
    .price::before {
        content: "";
        position: absolute;
        /* width: 2vw; */
        height: 7vh;
        bottom: -3vh;
        left: -1.4vw;
        background-color: rgb(126, 26, 168);
        border-bottom: 3vh solid white;
        border-right: 1.4vw solid rgb(126, 26, 168);
        height: 0;
        width: 0;
        display: none;
        height: 0;
        width: 0;
        display: none;
    }
    .img {
        height: 22vh;
        /* width: 10vw; */
        background-size: contain;
        background-repeat: no-repeat;
        
        margin:25vh 0vw 0vh 19.5vw;
        height: 0;
        width: 0;
        display: none;
    }
    .img2 {
        height: 30vh;
        /* width: vw; */
        background-size: contain;
        background-repeat: no-repeat;
        
        margin: 10vh 0vw 0vh 10vw;
        height: 0;
        width: 0;
        display: none;
        height: 0;
        width: 0;
        display: none;
    }
    .rotate {
        position: absolute;
        top: 3vh;
        left: 47vw;
        height: 7vh;
        width: 8vw;
        padding: 0.3vh 0.5vw 0vh 1vw;
        font-size: 2vw;
        display: flex;
        color: white;
        background-color: rgb(53, 10, 100);
        border-radius: 10px 0px 10px 10px;
        transform: rotate(-40deg);
        height: 0;
        width: 0;
        display: none;
    }
    .lin1 {
        margin: 2vh 0vw 0vh 20vw;
        color: rgb(46, 23, 74);
        font-weight: bolder;
        font-size: 2.5vw;
        height: 0;
        width: 0;
        display: none;
    }
    .lin2 {
        margin: 1vh 0vw 0vh 20vw;
        color: rgb(166, 166, 166);
        font-weight: bolder;
        font-size: 2vw;
        height: 0;
        width: 0;
        display: none;
    }
    .lin3 {
        margin: 1vh 0vw 0vh 8vw;
        
        font-size: 1.2vw;
        height: 0;
        width: 0;
        display: none;
    }
    .lin4 {
        margin: 1vh 5vw 0vh 8vw;
        
        font-size: 1.2vw;
        height: 0;
        width: 0;
        display: none;
    }
    .icon1 {
        margin: 1vh;
        background-color: rgb(54, 7, 100);
        color: white;
        padding: 1vh 0.5vw 1vh 0.5vw;
        border-radius: 8px;
        height: 6vh;
        width: 2vw;
        font-size: 2vw;
        cursor: pointer;
        height: 0;
        width: 0;
        display: none;
    }
    .icon2 {
        height: 6vh;
        width: 2vw;
        margin: 1vh;
        background-color: rgb(127, 27, 170);
        color: white;
        padding: 1vh 0.5vw 1vh 0.5vw;
        border-radius: 8px;
        font-size: 2vw;
        cursor: pointer;
        height: 0;
        width: 0;
        display: none;
    }
    .iconholder {
        margin: 30vh 0vw 0vh 0vw;
        height: 0;
        width: 0;
        display: none;
    }
    .como {
        height: 100%;
        z-index: 9;
        background-color: white;
        height: 0;
        width: 0;
        display: none;
    }
    .buy {
        position: absolute;
        right: -2.5vw;
        bottom: 10vh;
        height: 55vh;
        width: 20vw;
        border-radius: 50%;
        background-color: rgb(52, 7, 98);
        z-index: 0;
        height: 0;
        width: 0;
        display: none;
    }
    .inc {
        position: absolute;
        height: 6vh;
        width: 2vw;
        color: white;
        background-color: rgb(122, 31, 162);
        right: 0vw;
        top: 0vh;
        font-size: 2vw;
        font-weight: bolder;
        border-radius: 50%;
        padding: 0vh 0vw 0vh 0vw;
        border: 0.1vw solid white;
        cursor: pointer;
        height: 0;
        width: 0;
        display: none;
    }
    .dec {
        position: absolute;
        height: 6vh;
        width: 2vw;
        color: white;
        background-color: rgb(122, 31, 162);
        right: -0.2vw;
        top: 30vh;
        font-size: 2vw;
        font-weight: bolder;
        border-radius: 50%;
        padding: 0;
        border: 0.1vw solid white;
        cursor: pointer;
        height: 0;
        width: 0;
        display: none;
        height: 0;
        width: 0;
        display: none;
    }
    .num {
        position: absolute;
        
        color: white;
        
        right: 0.5vw;
        top: 17.5vh;
        font-size: 2vw;
        font-weight: bolder;
        
        padding: 0;
        height: 0;
        width: 0;
        display: none;
    }
    .product {
        width: 100%;
        
        margin: 0vh 0vw 0vh 0vw;
      
        background-color: blanchedalmond;
        height: 0;
        width: 0;
        display: none;
    }
    .prize {
        width: 100%;
        z-index: 9;
        background-color: white;
        height: 0;
        width: 0;
        display: none;
    }


}